@import url(https://fonts.googleapis.com/css?family=Orbitron:700);

html, body {
    font-family: 'Orbitron', sans-serif;
    background: #113A47;
    padding: 0;
    margin: 0;
}

#title-bar {
    -webkit-app-region: drag;

    height: 32px;

    background-color: #2c71bf;

    padding: 0;

    margin: 0;
}

#title-bar-btns {

    -webkit-app-region: no-drag;

    position: fixed;

    top: 0;

    right: 0;

}

#title-bar-btns button {

    height: 32px;

    width: 32px;

    background-color: transparent;

    border: none;

    color: #F1F1F1;

    font-size: 16px;

}

#title-bar-btns button:hover {

    background-color: #3F3F41;

}
.timer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: #D7ECFF;
    text-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 15px #228DFF, 0 0 25px #228DFF, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF;
}

.timer-end{
    color: #880000;
    text-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 15px #ff5454, 0 0 25px #ff5454, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF;
}